.rouge {
  background-color: red;
}
.bleu {
  background-color: blue;
}
.vert {
  background-color: green;
}
.noir {
  background-color: black;
}
.mauve {
  background-color: purple;
}
.orange {
  background-color: orange;
}

.btn {
  color: white;
}
